/* Events.css */
.events-section {
    
    background-color:beige;
    padding-left: 15px; /* Align with NewsSection's indentation */
}

.events-name {
    color: #333;
    margin-bottom: 20px;
}

.events-section .event {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 2vh;
}

.events-section h4 {
    color: #00533F;
    text-align: left;
    margin-left: 15px;
    padding-bottom: 15px;
}

.events-section p {
    font-size: 0.8rem;
}