#options {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* span the full width of the page */
  height: 60px; /* adjust the height as needed */
  z-index: 1000;  
  display: flex;
  flex-direction: row; /* align items horizontally */
  justify-content: space-between; /* space between the icon and links */
  align-items: center; /* center items vertically */
  padding: 0 1.25rem 0 1rem; /* adjust padding as needed */
  background-color: #00533F; /* updated background color */
  color: #fff;
}

.butn {
  background-color: transparent; /* make button background transparent */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.butn:hover {
  background-color: #00402e; /* darker shade for hover effect */
  border-radius: 1rem;
}
.auth-btn {
  background-color: white; /* Set background to white */
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 1rem;
  margin: 0 .5rem;
  /* Add other necessary styling here */
}

.auth-btn:hover {
  background-color: #96b2cf; /* Off-white color on hover */
}
.icon {
  position: relative; /* adjust if needed */
  width: 50px; /* icon width */
  height: auto; /* maintain aspect ratio */
}

@media (max-width: 768px) {
  #options {
      flex-direction: column;
      align-items: center;
  }
  
  #options a {
      margin: 0.5rem 0;
  }
}