/* NewsSection.css */
.news-section{
    position: relative;
    width: 100%;
    background-color: #f8f9fa; /* Light background for contrast, from Galleryy.css */
    border: 2px; /* Kept from Gallery.css for structure */
    padding: 2rem 2rem; /* Top and bottom padding, adjusted from Galleryy.css for consistency */
    border-radius: 0.5rem; /* Rounded corners, from Galleryy.css for modern look */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth, from Galleryy.css */
}
.news-section .news-item {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    margin-bottom: 2vh;
}

.news-section .icon-placeholder {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #ddd;
    margin-right: 10px; /* Add margin to the right of the icon */
}

.news-section h4 {
    color: #00533F;
    text-align: left;
    margin-left: 15px;
    padding-bottom: 15px;
}
.news-section p {
    font-size: 0.8rem;
}