.container-custom {
    left: 290px;
    top: 209px;
    width: 860px;
    height: 606px;
    background-color: #f3f7f6;
    box-shadow: 0px 4px 15px 0px #00000040;
  }
  
  .secondary-container {
    left: 720px;
    top: 209px;
    width: 430px;
    height: 606px;
    background-color: #00533f;
  }
  
  .text-section {
    left: 802px;
    top: 394px;
    color: #fff;
  }
  
  .text-large {
    font-size: 36px;
    font-weight: bold;
  }
  
  .text-medium {
    font-size: 16px;
    font-weight: 500;
    width: 265px;
  }
  
  .text-bold {
    font-size: 20px;
    font-weight: bold;
  }
  
  .btn-custom {
    width: 124px;
    height: 45px;
    border-radius: 50px;
    background-color: #fff;
    color: #00533f;
    font-size: 20px;
    font-weight: bold;
  }
  
  .form-custom {
    left: 375px;
    top: 441px;
    gap: 12px;
  }
  
  .input-custom {
    background-color: #d9d9d9;
  }
  
  .btn-signup {
    width: 124px;
    height: 45px;
    border-radius: 50px;
    background-color: #00533f;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
  }
  
  .title {
    color: #00533f;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    left: 369px;
    top: 288px;
  }